*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    background: whitesmoke; 
}
section{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
/*     height: 70px; */
}
section a{
    margin: 10px;
    font-size: 180%;
    text-decoration: none;
    color: white;
    font-family: cooper black;
}
div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 20px; */
    font-family: Cooper Black;
}
h1{
    font-family: cooper black;
}

.a1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: self-start;
    flex-direction: column;
    /* margin: 20px; */
    font-family: Cooper Black;
}

.a2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
   /*  margin: 20px; */
    font-family: Cooper Black;
}

#main-container{
    padding-top: 200px;
    text-align: center;
}
.btn{
    border-radius: 3px;
    display: inline-block;
   /*  padding: 20px 15px; */
    text-decoration: none;
}
.btn-green{
    color: white;
    background-color: black;
}
.btn-green:hover{
    background-color: green;
}
.btn-green:active{
    background-color: red;
}


.btn-greenclaro{
    color: white;
    background-color: black;
}
.btn-greenclaro:hover{
    background-color: green;
}
.btn-greenclaro:active{
    background-color: red;
}

.btn-greenins{
    color: white;
    background-color: black;
}
.btn-greenins:active{
    background-color: red;
}

.btn-greenfa{
    color: white;
    background-color: black;
}
.btn-greenfa:active{
    background-color: red;
}

.btn-greeng{
    color: white;
    background-color: black;
}
.btn-greeng:active{
    background-color: whitesmoke;
}



.btn-greeny{
    color: white;
    background-color: black;
}
.btn-greeny:active{
    background-color: green;
}


.btn-materias{
    color: white;
    background-color: black;
}

.btn-app{
    color: white;
    background-color: black;
}
.btn-app:hover{
    background-color: black;
}
.btn-app:active{
    background-color: red;
}